<html>
<head>
    <meta charset='utf-8' />
    <title>Server Side Vector Tiling and OpenGL on the Client Side</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    
	<link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.css' rel='stylesheet' />
	<link rel="stylesheet" href="/css/mapboxgl.css" />
</head>
<body>
<script>
	var AddOne, SubTractOne,Play
</script>
<nav id="menu"></nav>
<div id='download_button'>
	<a href='Javascript:ShowDownload();'><i class='fa fa-download'></i></a>
</div>
<div id='map'></div>
 <div class='map-overlay top'>
     <div class='map-overlay-inner'>
         <label id='DateLabel'></label>
		 <table>
			 <tr><td>
				 <a href='Javascript:SubtractOne()'><i class='fa fa-backward'></i></a>
				 <a href='Javascript:Play()'><i id='play' class='fa fa-play'></i></a>
				 <a href='Javascript:AddOne()'><i class='fa fa-forward'></i></a>
			 </td>
			 <td>
		 		<input id='slider' type='range' min='0' max='7' step='1' value='7' />
			</td></tr>
		</table>
     </div>
 </div>

<div id='download' class='download' style="display:none">
	<form action='/test/download' method='post' class='form-horizontal'>
		<span><b>Download:</b></span><br/><br/>
		<input type='hidden' name='date' id='date' value='2016-05-15'/>
		<div class="radio">
			<label>
				<input type='radio' name="which" id="flood forecast" value='flood_forecast'>
				flood forecast
			</label>
		</div>
		<div class="radio">
			<label>
				<input type='radio' name="which" id="flood maps" value='flood_map'>
				flood maps
			</label>
		</div>
		<div class="radio">
			<label>
				<input type='radio' name="which" id="landslide" value='landslide'>
				landslide
			</label>
		</div>
		<div class="radio">
			<label>
				<input type='radio' name="which" id="precip" value='precipitation' checked>
				precipitation
			</label>
		</div>
		<hr/>
		<div class="radio">
			<label>
				<input type='radio' name="format" id="topojson" value='topojson' checked>
				topojson
			</label>
		</div>
		<div class="radio">
			<label>
				<input type='radio' name="format" id="geoojson" value='geojson' >
				geojson
			</label>
		</div>
		<div class="radio">
			<label>
				<input type='radio' name="format" id="shape" value='shape' >
				shape
			</label>
		</div>
		<div class="radio">
			<label>
				<input type='radio' name='format' id='kml' value='kml' >
				kml
			</label>		
		</div>
			<br/>
		
		<button type="submit" class="btn btn-primary">Submit</button>	
	<form>
</div>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.25.0/mapbox-gl.js'></script>
<script src='/js/moment.js'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script>
mapboxgl.accessToken = '<%- token %>';
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'mapbox://styles/mapbox/basic-v9', //hosted style id
    center: [<%=longitude%>, <%=latitude%>], // starting position
    zoom: <%= zoom %> // starting zoom
});
var host = '<%= host %>'

var startTime 	= moment().subtract('days', 1)

// Check if we are past 14:00PM
var hr = startTime.hour()
if(hr < 14 ) {
	startTime 	= moment().subtract('days', 2)
}
console.log("Hour", hr, "startTime", startTime.format("YYYY-MM-DD"))

var dt			= startTime
$('#DateLabel').html(dt.format("YYYY-MM-DD"))

function ShowDownload() {
	$('#download').toggle()
}


</script>
<script src='/js/testgl.js'></script>
</body>
</html>