<div class='container'>
<div class='row'>
<h3>Landslide Nowcasts</h3>
<br/>
<br/>
<br/>
	<ul>
	<% for(var d in ymds) { var ymd = ymds[d] %>
		<li> <a href='/products/<%= region_id %>/<%= ymd %>/landslide_nowcast_<%=region_id%>_<%=ymd%>'><%=ymd%></a></li>
	<%}%>
	</ul>

</div>
</div>